header {
    width: 100%;
    height: 50px;
    margin: 0;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    font-family: Poppins;
}

header a {
    padding: 12px;
    margin-right: 0px;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
}

.header-right {
    margin-right: 18px;
}

.header-right a {
    border-radius: 4px;
}

header .logo a {
    margin-left: 8px;
    font-size: 24px;
    font-weight: bold;
    color: rgb(15, 15, 163);
}

.header-right a:hover {
    background-color: #ddd;
    color: black;
    transition: 0.15s;
}

.header-right a:active {
    background-color: rgb(15, 15, 163);
    color: white;
    transition: 0.15s;
}
