{% extends 'base.html' %}

{% block content %}
<main class="about-main">
  <section class="about-description">
    <h2>What is Taskify?</h2>
    <p>
      Taskify is a simple task management application designed to help you
      organize your tasks and boost your productivity.
    </p>
    <p>
      Want to stay on top of your tasks? Register <a href="/signup">now</a>.
    </p>
  </section>

  <section class="about-features">
    <h2>Features</h2>
    <ul>
      <li>Create and manage tasks easily</li>
      <li>Set due dates and priorities</li>
      <li>Update task status and details</li>
      <!-- <li>Collaborate with team members</li> -->
       <li>Persistent storage</li>
      <li>Receive notifications and reminders</li>
    </ul>
  </section>

  <section id="about-team" class="about-team">
    <h2>Team</h2>
    <div class="about-team-member">
      <img
        src="{{ url_for('static', filename='images/taskify-logo-big.PNG') }}"
        alt="Team Member 1"
      />
      <h3>Matumbai Binale</h3>
      <p>Lead Developer &amp Engineer</p>
      <div class="social-handles">
        <a href="https://www.linkedin.com/in/matumbai-binale-8ba711163/" target="_blank" >LinkedIn</a> 
        <a href="https://github.com/MrGiddy" target="_blank">GitHub</a>
        <a href="https://x.com/MatumbaiBinale" target="_blank">Twitter</a>
        <a href="https://github.com/MrGiddy/taskify" target="_blank">TaskiFyGitHub</a>
    </div>
    </div>
  </section>

  <section class="about-contact">
    <h2>Contact Us</h2>
    <p>
      If you have any questions or feedback, feel free to reach out to us at
      <a href="mailto:support@taskify.com">support@taskify.com</a>.
    </p>
  </section>
</main>
{% endblock %}
