{% extends 'base.html' %}
{% block content %}
  <main class="contact-main">
    <section class="contact-form">
      <h2>Contact Us</h2>
      <form action="https://formsubmit.co/1c6ef5ced3f4cc20222fb4c1b099d525" method="post">
        
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="Your Name" required>

        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Email Address" required>

        <label for="subject">Subject</label>
        <input type="text" id="subject" name="subject" placeholder="What is your message about?" required>

        <label for="message">Message</label>
        <textarea id="message" name="message" rows="5" required></textarea>

        <button type="submit">Send Message</button>
      </form>
    </section>
  </main>
{% endblock %}
