<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Taksify - Home{% endblock title %}</title>
  <link rel="stylesheet" href="../static/css/general.css">
  <link rel="stylesheet" href="../static/css/header.css">
  <link rel="stylesheet" href="../static/css/footer.css">
  <link rel="stylesheet" href="../static/css/create.css">
  <link rel="stylesheet" href="../static/css/list.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="../static/scripts/create.js" defer></script>
  <script src="../static/scripts/list.js" defer></script>
  <script src="../static/scripts/delete.js" defer></script>
  <script src="../static/scripts/update.js" defer></script>
</head>
<body>
  <!-- The header section -->
  <header>
    <div class="logo"><a href="#">TaskiFy</a></div>
    <div href="#" class="header-right">
      <a href="#">Home</a>
      <a href="#contact">About</a>
      <a href="#about">Contact</a>
      <a href="#about">Login</a>
      <a href="#about">Signup</a>
    </div>
  </header>
  <main>
    <div class="task-container">
      <div class="task-header">
        <h2>My Tasks</h2>
        <button id="create-task-button">Create</button>
      </div>
      <div id="task-list">
        <!-- Task items will be inserted here dynamically -->

      </div>
    </div>

    <!-- The form to create a task -->
    <div id="task-form-modal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <form id="task-form" class="task-form-create">
          <div class="form-group">
            <label for="task-title">Title: </label>
            <input type="text" id="task-title" name="title" required>
          </div>
          <div class="form-group">
            <label for="task-desc">Description: </label>
            <textarea id="task-desc" name="description" required></textarea>
          </div>
          <!-- <div class="form-group" id="status-group">
            <label for="task-status">Status:</label>
            <select id="task-status" name="status" required>
              <option value="pending">pending</option>
              <option value="ongoing">ongoing</option>
              <option value="completed">completed</option>
            </select>
          </div> -->
          <div class="form-group">
            <label for="priority">Priority:</label>
            <select id="priority" name="priority" required>
              <option value="medium">medium</option>
              <option value="low">low</option>
              <option value="high">high</option>
            </select>
          </div>
          <div class="form-group">
            <label for="task-due-date">Due Date</label>
            <input type="date" id="task-due-date" name="due_date" requred>
          </div>
          <button id="add-task-button" type="submit">Add</button>
        </form>
      </div>
    </div>

    <div id="update-task-form-modal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <!-- The form to update a task-->
        <form id="update-task-form">
          <div class="form-group">
            <label for="update-task-title">Title: </label>
            <input type="text" id="update-task-title" name="title" required>
          </div>
          <div class="form-group">
            <label for="update-task-desc">Description: </label>
            <textarea id="update-task-desc" name="description" required></textarea>
          </div>
          <div class="form-group" id="update-status-group">
            <label for="update-task-status">Status:</label>
            <select id="update-task-status" name="status" required>
              <option value="pending">pending</option>
              <option value="ongoing">ongoing</option>
              <option value="completed">completed</option>
            </select>
          </div>
          <div class="form-group">
            <label for="update-priority">Priority:</label>
            <select id="update-priority" name="priority" required>
              <option value="medium">medium</option>
              <option value="low">low</option>
              <option value="high">high</option>
            </select>
          </div>
          <div class="form-group">
            <label for="update-task-due-date">Due Date</label>
            <input type="date" id="update-task-due-date" name="due_date" requred>
          </div>
          <button id="update-task-button" type="submit">Update</button>
        </form>
      </div>
    </div>
  </main>
  <!-- The footer section -->
  <footer class="footer">
    <p>Copyright &copy 2024 TaskiFy</p>
    <p>Privacy Policy</p>
    <p>Terms of Service</p>
  </footer>
</body>
</html>
